 <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome To</div>
                <div id="test" class="intro-heading" style="color:#fed136;">Mongo News Scraper - Reddit Edition</div>
   
            </div>
        </div>
    </header>

<script>
                     
 $(document).ready(function () {

    
   if ($("#found").text() != "0") {
   
   $("#myModal").modal("show"); }


    

 });

       </script> 


                
    <!-- Services Section -->
