 <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome To</div>
                <div class="intro-heading" style="color:#fed136;">Mongo News Scraper - Reddit Edition</div>
   
            </div>
        </div>
    </header>
              
 <script>

$(document).ready(function () {

    $('#myModal').modal('{{this.show}}');
   $('#found').text('{{this.found}}');


});
       </script>  
    <!-- Services Section -->
